body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    background-color: black;
    height: 150px;
    color: rgb(140, 191, 131);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-spacing: 50px;
    font-size: 36px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
    height: 800px;
    gap: 50px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

footer > img {
    width: 24px;
    height: auto;
}